body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 10px 10px 10px 10px;
    margin: 30px;
    text-align: left;
    background-color: #FAEBD7;
    color: black
}


p, div {

    border: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 7px;
    text-align: justify;
    color: #8B0000;

}

button {
    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    font-size: medium;
}

h1, h2 {
    border: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 7px;
    text-align: justify;
    color: #B22222;
}

h3 {
    border: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 7px;
    text-align: justify;
    font-size: xx-large;
    color: #B22222;
}

.order {
    font-size: larger;
    border: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 7px;
    text-align: justify;
}

.jump {
    font-size: larger;
}

.example {
    color: #B22222;
}

a {
    text-align: center;
    font-size: medium;
    padding: 10px;
    margin: 30px;
    color: #FF6347;
}
